[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-bootstrap-v5 = "*"
pygal = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
