{% extends "base.html" %}

{% block title %}GitHub Statistics{% endblock %}
{% block nav_home_class %}active{% endblock %}
{% block page-title %}
{% if user.is_auth %}
{{user.username}}'s GitHub Statistics
{% else %}
GitHub Statistics
{% endif %}
{% endblock %}

{% block content %}

<div class="row text-center">
  <p>These are the statistics of {{user.username}}'s GitHub. Feel free to browse around to discover different functionalities to diplay your repos!</p>
</div>
<div class="row justify-content-center">
  <div class="card text-white border-dark transparent m-3 col-sm-12 col-md-4" style="max-width: 18rem;">
    <div class="card-header">My Repositories</div>
    <div class="card-body">
      <a href="{% url 'repos' %}">
        <img class="img-fluid" src="https://pa-orm-dashboard.s3.amazonaws.com/img/git.png" alt="">
      </a>
    </div>
  </div>
  <div class="card text-white border-dark transparent m-3 col-sm-12 col-md-4" style="max-width: 18rem;">
    <div class="card-header">Users</div>
    <div class="card-body">
      <a href="{% url 'users' %}">
        <img class="img-fluid" src="https://pa-orm-dashboard.s3.amazonaws.com/img/users.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="card text-white border-dark transparent m-3 col-sm-12 col-md-4" style="max-width: 18rem;">
    <div class="card-header">My Dashboard</div>
    <div class="card-body">
      <a href="{% url 'dashboard' %}">
        <img class="img-fluid" src="https://pa-orm-dashboard.s3.amazonaws.com/img/dashboard.jpg" alt="">
      </a>
    </div>
  </div>
</div>

{% endblock content %}