{% extends "base.html" %}

{% block title %}Language Statistics{% endblock %}
{% block nav_languages_class %}active{% endblock %}
{% block page-title %}Languages{% endblock %}

{% block content %}

<form method="GET">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text">github.com/hpa153</span>
      </div>
      <div class="input-group-prepend">
          <span class="input-group-text">/</span>
      </div>
      <select name="repo" class="form-select input-group-prepend" aria-label="Default select example">
        {% for name in repo_list %}
        <option 
          value="{{ name }}"
          {% if name == current_repo %}selected{% endif %}
        >
          {{ name }}
        </option>
        {% endfor %}
      </select>
          
      <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="submit">Show</button>
      </div>
  </div>
</form>

<embed type="image/svg+xml" src="../../../static/charts/pie_chart.svg" />

{% endblock content %}