{% extends "base.html" %}

{% block title %}My Dashboard{% endblock %}
{% block nav_dashboard_class %}active{% endblock %}
{% block page-title %}{{username}}'s Dashboard{% endblock %}

{% block content %}

<div class="d-flex flex-column flex-md-row flex-wrap col-12 justify-content-center align-items-center">
  {% for chart in charts %}
  <div
    id="{{forloop.counter}}/{{chart.name}}" 
    class="card text-white border-dark transparent m-3 col-sm-12 col-md-3"
    style="max-width: 18rem;"
    onclick="displayChart(this.id)"
  >
    <div class="card-header repo-header">{{chart.name}}</div>
    <div class="card-body">
      <embed class="img-fluid" type="image/svg+xml" src="{{chart.chart | safe}}" />
    </div>
  </div>
  <div 
  id="{{forloop.counter}}" 
  class="
  zoomed-container 
  transparent w-100 
  h-100 d-flex 
  justify-content-center 
  align-items-center
  hide-chart"
  onclick="displayChart(this.id)"
  >
    <embed class="zoomed-chart" type="image/svg+xml" src="{{chart.chart | safe}}" />
  </div>
  {% endfor %}
</div>

{% endblock content %}